.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .list-wrap {
    flex: 1;
    padding: 30px;
    overflow: hidden;
    .item {
      margin-bottom: 24px;
      .bottom-tag {
        color: #FF2121;
        font-size:26px;
        line-height:40px;
      }
      .free {
        width: 76px;
        height: 32px;
        background-color: #FFC105;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 32px;
      }
      .bottom-num {
        display: flex;
        align-items: center;
        color: #666;
        font-size: 22px;
        line-height: 40px;
        .hot {
          margin-right: 24px;
          width: 18px;
          height: 24px;
        }
      }
      .bottom-price {
        color: #333333;
        font-size:34px;
        font-weight: blod;
      }
    }
  }
}