.exit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 88px;
  background-color: $mcolor;
  text-align: center;
  line-height: 88px;
  color: #fff;
  font-size: 32px;
}
.full-screen {
  @extend %full-screen
}