.nav-wrap {
  // position: fixed;
  // top: 0;
  // left: 0;
  background-color: #fff;
  z-index: 100;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 88px;
  padding: 22px 24px;
  box-sizing: border-box;
  line-height: 44px;
  border-bottom: 1px solid #e4e4e4;
  .left-item, .right-item {
    flex: 1;
    text-align: left;
  }
  .right-item {
    text-align: right;
  }
  .left-item {
    display: flex;
    align-items: center;
    .back-icon {
      width: 20px;
      height: 34px;
    }
  }
  .center-item {
    flex: 2;
    font-size: 34px;
  }
}