.banner-h{
  width: 100vw;
  height: 250px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 50px 30px;
  .item {
    padding: 0 14px;
    .icon {
      width: 80px;
      height: 80px;
    }
    .label {
      text-align: center;
      font-size: 23px;
      color: #666666;
      line-height: 47px;
    }
  }
}

.card-wrap {
  padding: 0 30px;
  margin-bottom: 60px;
  // 第一种布局
  .goods_wrap {
    display: flex;
    .goods {
      flex: 1;
      overflow: hidden;
      &:nth-child(odd) {
        margin-right: 19px;
      }
      &:nth-child(even) {
        margin-left: 19px;
      }
    }
  }
  // 第二种布局
  .goods2_wrap {
    .bottom-num {
      display: flex;
      align-items: center;
      color: #666;
      font-size: 22px;
      line-height: 40px;
      .hot {
        margin-right: 24px;
        width: 18px;
        height: 24px;
      }
    }
    .bottom-price {
      color: #333333;
      font-size:34px;
      font-weight: blod;
    }
  }
  // 第三种布局
  .goods3_wrap {
    display: flex;
    .goods {
      flex: 1;
      overflow: hidden;
      &:nth-child(1) {
        margin-right: 24px;
      }
      &:nth-child(2) {
        margin: 0 12px;
      }
      &:nth-child(3) {
        margin-left: 24px;
      }
      .title {
        margin-bottom: 10px;
        color: #333;
        font-size: 26px;
        line-height: 32px;
        @include clamp(2, 30px)
      }
      .bottom-num {
        display: flex;
        align-items: center;
        color: #666;
        font-size: 22px;
        line-height: 40px;
        .hot {
          margin-right: 24px;
          width: 18px;
          height: 24px;
        }
      }
    }
  }
}