.banner-h{
  width: 100vw;
  height: 250px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 50px 30px;
  .item {
    padding: 0 14px;
    .icon {
      width: 80px;
      height: 80px;
    }
    .label {
      text-align: center;
      font-size: 23px;
      color: #666666;
      line-height: 47px;
    }
  }
}

.card-wrap {
  padding: 0 30px;
  margin-bottom: 60px;
  // 第一种布局
  .goods_wrap {
    display: flex;
    .goods {
      flex: 1;
      overflow: hidden;
      &:nth-child(odd) {
        margin-right: 19px;
      }
      &:nth-child(even) {
        margin-left: 19px;
      }
    }
  }
  .goods2_wrap {
    .bottom-left {
      display: flex;
      align-items: center;
      color: #666;
      font-size: 22px;
      line-height: 40px;
      .hot {
        margin-right: 24px;
        width: 18px;
        height: 24px;
      }
    }
    .bottom-right {
      color: #333333;
      font-size:34px;
      font-weight: blod;
    }
  }
}