.list {
  display: flex;
  flex-direction: column;
  @extend %full-screen;
  .list-wrap {
    flex: 1;
    .container {
      .item {
        padding: 24px;
        box-sizing: border-box;
        p {
          display: flex;
          justify-content: space-between;
          font-size: 30px;
          color: #333;
          line-height: 50px;
        }
      }
    }
  }
}