.course-list {
  display: flex;
  flex-direction: column;
  .list-wrap {
    padding: 30px;
    .bottom-num {
      display: flex;
      align-items: center;
      color: #666;
      font-size: 22px;
      line-height: 40px;
      .hot {
        margin-right: 24px;
        width: 18px;
        height: 24px;
      }
    }
    .bottom-price {
      color: #333333;
      font-size:34px;
      font-weight: blod;
    }
  }
}