.order {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .item {
    height: 100%;
    overflow: hidden;
    background-color: #F5F6F7;
    .scroll-wrap {
      padding: 0 24px;
      .card {
        margin-top: 20px;
      }
      .nothing {
        width: 100%;
      }
    }
  }
}