.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  .scroll-wrap {
    flex: 1;
    overflow: hidden;
    .container {
      .banner-h {
        height: 750px;
        /deep/ .swiper-slide {
          object-fit: cover;
        }
      }
      .card {
        padding: 30px;
        .title {
          font-size:30px;
          font-weight:bold;
          color:rgba(34,34,34,1);
          line-height:44px;
        }
      }
      .price {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $bd;
        .marketprice {
          font-size:66px;
          color: #FF2121;
        }
        .tag {
          display: inline-block;
          margin-left: 12px;
          border-radius: 4px;
          width: 120px;
          height: 40px;
          font-size: 24px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background-color: #FFC105;
          border:  none;
        }
      }
      .title {
        font-size: 30px;
        line-height: 44px;
        font-weight: bold;
      }
      .tag, .sku, .introduce {
        border-top: 16px solid #f3f4f5;
      }
      .tag {
        .item {
          display: inline-flex;
          align-items: center;
          margin-right: 72px;
          color:#585C64;
        }
      }
      .sku {
        .kind {
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin: 12px;
          padding: 16px 24px;
          font-size: 20px;
          color: #ccc;
          &.active {
            color: #FFC105;
            border-color: #FFC105;
          }
        }
        .num {
          margin: 24px 0;
        }
        .num-wrap {
          width: 206px;
          height: 54px;
        }
      }
      .introduce {
        .intro-item {
          font-size: 28px;
          line-height: 52px;
          color: #9A9AA0;
          .intro-item-title {
            display: inline-block;
            width: 120px;
          }
          .val {
            margin-left: 60px;
            color: #686B73;
          }
        }
        .bottom-img {
          width: 100%;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 24px;
    width: 100%;
    height: 110px;
    border-top: 1px solid $bd;
    .server {
      flex: 0 1 88px;
    }
    .addCart {
      flex: 1;
      background-color: $mcolor;
      height: 88px;
      border-radius: 44px;
      text-align: center;
      line-height: 88px;
      font-size: 32px;
      color: #fff;
    }
  }
}
