.container {
  padding: 24px;
}
.confirm {
  margin-left: 50%;
  margin-top: 40px;
  transform: translateX(-50%);
  width: 600px;
  height: 84px;
  border-radius: 42px;
  text-align: center;
  line-height: 84px;
  font-size: 34px;
  background-color: #ccc;
  color: #333;
}