.address {
  display: flex;
  flex-direction: column;
  background-color: #F5F6F7;
  @extend %full-screen;
  .list-wrap {
    flex: 1;
    overflow: hidden;
    .list {
      .list-item {
        margin-top: 24px;
        padding: 24px;
        background-color: #fff;
        .top {
          display: flex;
          align-items: center;
          padding-bottom: 24px;
          border-bottom: 1px solid #F0F0F0;
          .icon {
            color: #FFC105;
          }
          .info {
            flex: 1;
            font-size: 28px;
            .title {
              margin-bottom: 24px;
            }
          }
        }
        .bottom {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-top: 24px;
          .btn {
            color: #000;
            &::before {
              border-color: #000;
            }
          }
        }
      }
    }
  }
}